<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">

  <header>
    <%= erb :nav %>
  </header>

  <section>
    <%= yield %>
  </section>

</div>
</body>
</html>
