<nav class="nav inverse">
  <div class="brand">
    <h1 >Tomatoe</h1>
  </div>

  <ul>
    <li><a href="#" class="call-to-action"> Login </a></li>
    <li><a href="#"> About  </a></li>
    <li><a href="#"> Contact  </a></li>
    <li><a href="#" class="active"> Home  </a></li>
  </ul>
</nav>

